<!-- TODO
upgrade model when added a row or column 
ctrl z!! is a mess

-->

<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Swipe Events</title>
    <script src="angular.js"></script>
   <!-- RULEJS-->


  <script data-jsfiddle="common" src="lib/RuleJS/lib/lodash/lodash.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/underscore.string/underscore.string.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/moment/moment.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/numeral/numeral.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/numericjs/numeric.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/js-md5/md5.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/jstat/jstat.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/lib/formulajs/formula.js"></script>

  <script data-jsfiddle="common" src="lib/RuleJS/js/parser.js"></script>
  <script data-jsfiddle="common" src="lib/RuleJS/js/ruleJS.js"></script>
    <!--
     Loading Handsontable (full distribution that includes all dependencies apart from jQuery)
    -->  

    <link data-jsfiddle="common" rel="stylesheet" media="screen" href="dist/pikaday/pikaday.css">
    <script data-jsfiddle="common" src="dist/pikaday/pikaday.js"></script>
    <script data-jsfiddle="common" src="dist/moment/moment.js"></script>
    <script data-jsfiddle="common" src="dist/zeroclipboard/ZeroClipboard.js"></script>
    <script data-jsfiddle="common" src="demo/js/jquery.min.js"></script>
    <script data-jsfiddle="common" src="dist/handsontable.js"></script>

    <link data-jsfiddle="common" rel="stylesheet" type="text/css" href="demo/bootstrap/v3/css/bootstrap.css">
    <link data-jsfiddle="common" rel="stylesheet" media="screen" href="plugins/bootstrap/handsontable.bootstrap.css">

    <link data-jsfiddle="common" rel="stylesheet" media="screen" href="dist/handsontable.css">
    <link rel="stylesheet" media="screen" href="lib/handsontable.formula.css">
     <script data-jsfiddle="common" src="lib/handsontable.formula.js"></script>

    <!--
     Loading demo dependencies. They are used here only to enhance the examples on this page
    -->
    <link data-jsfiddle="common" rel="stylesheet" media="screen" href="demo/css/samples.css?20140331">
    <script src="demo/js/samples.js"></script>
    <script src="demo/js/highlight/highlight.pack.js"></script>
    <link rel="stylesheet" media="screen" href="demo/js/highlight/styles/github.css">
    <link rel="stylesheet" href="demo/css/font-awesome/css/font-awesome.min.css">

   
    <script>
        angular.module("exampleApp", [])
        .controller("defaultCtrl", function ($scope, $element) {
            $scope.data= [
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6],
                    [1, 2, 3, 4, 5, 6]
                  ];
           $scope.change=function(){
              
                $scope.data[2][0]=Math.random();
                
            }
            
            
           
        })
        .directive('spread', function() {
    return {
        restrict: 'A',
        scope:{data:"=prop"},
        require: "ngModel",
        link: function(scope, element, attrs,ctrl) {
           element.on("change", function (event) {
           scope.$apply();
           });
            scope.$watch( function() { return scope.data; }, function (newValue, oldValue) {
                console.log("joab");
                console.log(scope.data[0][0]);
                hot.render();
               },true);

//console.log(document.getElementById(attrs["id"]));
           var hot = new Handsontable(element[0],{
                data: scope.data,
                colHeaders: true,
                rowHeaders: true,
                minCols: 8,
                minRows: 10,
               mergeCells:true,
               formulas:true,
                contextMenu: true
            });
          

        
        }
    };
})
    </script>
</head>
<body ng-controller="defaultCtrl ">
        
    <!-- part for new directive-->
    <div id="example1" ng-model="data" prop="data" spread cols="3" rows="2" >

    </div>
    <input type="button" ng-click="change()">sas</input>
    <p>{{data}}</p>
</body>
</html>